//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';


.nossos_clientes img {
		max-width: 60%;
}


h3 {
	text-transform: uppercase; 
	line-height: 36px;
	margin-bottom: 0;
	color: white;
}

h2 {
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 30px; 
		color: white;
}

.como_fazemos {
	padding-top: 90px;
	background-color: #20506D;

	p {
		color: #0F2C3D;
	}
}

.card-img-top {
	max-width: 20%;
	text-align: center;
	padding-top: 30px;
}


.nossos_clientes {
	padding-top: 90px;
	padding-bottom: 30px;
	background-color: #CEAA46;
		
		img {
		max-width: 35%;
		display: inline-block;
		}
}



.quero_conhecer {
	padding-top: 90px;

		h3 {
			color: #133D5B;
		}

		h2 {
			color: #133D5B;
		}

		.btn-primary {
			background-color: #133D5B;
			color: white;
		}

		.btn-outline-primary{ 
			border-color: #133D5B;
			font-size: 12px;
			text-align: left;
			color: #CEAA46;
		}
}

.footer {
	background-color: #0F2C3D;
}